* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #111111;
}

.about-header {
    position: relative;
    width: 100%;
    height: 225px;
}

.about-title span {
    color: #FFB400;
    font-weight: 800;
    font-size: 60px;
    text-transform: uppercase;

}

.about-title h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    margin-left: 20px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.about-title {
    position: absolute;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -40px;
    z-index: 100;
}

.title-bg {
    font-size: 110px;
    font-weight: 800;
    left: 0;
    letter-spacing: 10px;
    line-height: .7;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    color: #222222;
}

/* .about-content {
    width: 100%;

}
.about-content--info {
    width: 100%;
} */

.info-block {
    display: flex;
    margin-left: 200px;
    justify-content: space-between;
    width: 50%;
}

.info {
    display: block;
    width: 100%;
    color: #BBBBBB;
}

.info span {
    color: #fff;
}

.info-block--left, .info-block--right {
    line-height: 2.5;
    width: 60%;
}

.info-block--right {
    margin-left: -200px
}


.about-content--title h2 {
    margin-left: 200px;
    color: #fff;
    line-height: 2.5;

}

.about-content--param {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    float: right;
    position: relative;
    top: -280px;
    left: -100px;
}

.param-block--item {
    flex-basis: 40%;
    height: 150px;
    border-radius: 5px;
    border: 1px solid #252525;
    margin: 20px;
    padding: 20px 30px;
    line-height: 1.25;
}

.param-block--item h1 {
    color: #FFB400;
    font-size: 48px;
}

.param-block--item span {
    color: #fff;
}

.line-col {
    width: 33.33%;
    height: 0.5px;
    background-color: #252525;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 50px;
}

.about-wrapper h2 {
    width: 150px;
    color: #fff;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.about-chart--item {
    width: 125px;
    height: 125px;
    border: 8px solid #FFB400;
    border-radius: 100rem;
    text-align: center;
}

.about-chart p {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    margin-top: 50%;
    transform: translateY(-50%);
}

.about-chart--text {
    margin-top: 50px;
    color: #fff;
}

.about-chart--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}

.about-chart--list:nth-child(3) {
    margin-top: 90px;
}

#html, #jquery {
    border-left-color: #252525;
}

#css, #node {
    border-right-color: #252525;
}

#scss, #react {
    border-top-color: #252525;
}
#javascript, #php {
    border-bottom-color: #252525;

}

.about--text {
    width: 500px !important;
    display: inline-block;
    position: relative;
    left: 55%;
    transform: translateX(-50%);
    color: #fff;
    margin-bottom: 50px;
}

.about-edu--list {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}

.about-edu--item {
    width: 40%;
    position: relative;
    padding: 0 50px 30px 50px;
    border-left: 1px solid #252525;
    color: #fff;
}

.edu-icon {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100rem;
    background-color: #FFB400;
    text-align: center;
    color: #fff;
    position: absolute;
    top: -20px;
    left: -20px;
}
.edu-icon i {
    margin-top: 10px;
}

.edu-job h2{
    margin: 15px 0;
}

.edu-desc p {
    line-height: 1.5;
}

.edu-time p{
    width: 50px;
    height: 30px;
    border-radius: 10px;
    background-color: #222222;
    text-align: center;
    padding: 5px;
}